.title {
    & > * {
        text-transform: uppercase;
        letter-spacing: 1.3px;
        font-style: italic;
        font-size: 40px;
    }
}

.card-list {
    .uk-card {
        position: relative;

        .uk-card-body {
            z-index: 1;
            color: #333;
        }

        &:nth-child(odd) .uk-card-body {
            position: absolute;
            right: 0;
            z-index: 1;
        }

        &:nth-child(even) .uk-card-media-right {
            position: absolute;
            right: 0;
        }
    }
}

@media(min-width: $breakpoint-medium) {
    #our-story {
        position: absolute;
        top: 30px;
    }
}


@media(max-width: $breakpoint-medium - 1) {
    .card-list {
        .uk-card {
            &:nth-child(odd) .uk-card-body {
                position: static;
            }

            &:nth-child(even) .uk-card-media-right {
                position: relative;
            }
        }
    }
}
