.uk-navbar-container {
    position: absolute;
    z-index: $global-z-index;
    width: 100%;
    letter-spacing: 1.2px;

    &:not(.no-shadow) {
        box-shadow: 0 4px 18px rgba(0, 0, 0, 0.1);
    }

    &.uk-navbar-sticky {
        position: initial;
    }

    .uk-navbar {
        .uk-logo {
            text-transform: uppercase;
            line-height: 20px;

            img {
                width: 35px;
            }

            & > p > span {
                display: block;
            }

            .costruzioni {
                font-size: 16.3px;
            }
        }

        .uk-navbar-nav .uk-active {
            border-bottom: 5px solid $global-primary-background;

            & > a {
                color: $global-primary-background;
            }
        }
    }
}

.uk-light {
    .uk-logo {
        color: white;
    }
}
