$global-font-family: 'PT Serif', serif;

$global-primary-background: rgb(111, 29, 31);
$global-secondary-background: rgba(111, 29, 31, 0.7);

$navbar-background: #fff;

//$navbar-background: rgba(163, 163, 163, 0.5)
